*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.header{
    background-image: url('/resources/Banner\ Image.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 90px;
    padding: 2%;
    height: 600px;
    width: 1320px;
    background-position: 5%;
    border-radius: 16px;
    font-family: 'Merriweather', serif;
    margin-bottom: 120px;
}
.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    font-family: Merriweather;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.banner-title{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
    padding-top: 40px;
}
.banner-name{
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    height: 190px;
    width: 700px;
    padding-left: 340px;
}
.section-title{
    display: flex;
    flex-direction: column;
}
.discount{
    color: #F00;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0%;
}
.deal{
    margin-top: 38px;
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0%;
}
.category{
    margin-top: 16px;
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.new-year-img{
    padding-left: 350px;
}